.title{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0 auto;
    font-size: 40px;
}

.divider{
    margin: 150px auto 0 auto;
    height: 7px;
    width: 30%;
    background-color: #FC8694;
}

.resultBox{
    margin-top: 5vh;
    padding: 50px 0;
    border: 3px solid #FC8694;
}

.resultInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultInfo {
    padding: 20px 5px 10px 5px;
    border-bottom: 2px solid #FC8694;
}

.coloring {
    color: #FC8694;
}

/* 분석 결과 */
.analysisBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 100px 0;
    border: 3px solid #FC8694;
}


.infoRank {
    padding-bottom: 10px;
    margin: 20px;
    font-size: 30px;
    border-bottom: 2px solid #FC8694;
}

.info {
    background-color: #fff;
    padding: 25px;
    font-size: 20px;
}

.infoBox {
    margin-top: 40px;
    background-color: #FFCECE;
    padding: 30px;
    position: relative;
    border: 1px solid rgb(212, 162, 162);
}

.pinset {
    width: 150px;
    position: absolute;
    left: 150px;
    top: -60px;
}


.similarBox {
    width: 100%;
    margin-top: 5vh;
    padding: 50px 0;
    border: 3px solid #FC8694;;
}

.nationBox{
    width: 60%;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px #FC8694;
    background-color: #fff3f4;
}

.nations {
    padding: 0 40px;
    display: flex;
    align-items: center;
}
.nation {
    font-size: 30px;
}

.flag {
    width: 70px;
    margin: 20px 20px 20px 0px;
}