.inputEmail {
    margin-top: 5vh;
    text-align: center;
}
.inputNickname,
.inputPassword,
.inputPasswordconfirm {
    margin-top: 5vh;
    text-align: center;
}



.signinButtonbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.signinButton {
    width: 30vw;
    border-radius: 50px;
    border: none;
    background-color: #FFB7C0;
    color: white;
    padding: 5px;
    font-size: x-large;
    cursor: pointer;
}

.signinButton:active {
    background-color: red;
}


.otherButtonbox {
    width: 40vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loginButton,
.forgotpasswordButton {
    color: #FFB7C0;
    text-decoration: none;

}
