.guide{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
}

.guide input{
    width: 0;
    height: 0;
}

.guide input::before {
    content: '결과 페이지 이동!';
    font-size: 40px;
    width: 800px;
    transform: translateX(-400px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    cursor: pointer;
    background: #F4C3CD;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0, 0.1),
                inset -4px -4px 6px -1px rgba(255,255,255, 0.7),
                -0.5px 0.5px 0px rgba(0,0,0, 0.15),
                0px 12px 10px -10px rgba(0,0,0, 0.05);
}