.resultTitle1,
.resultTitle3,
.resultInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultTitle1,
.resultTitle3 {
    margin-top: 20vh;
    font-size: x-large;
}
.resultTitle2,
.resultTitle4 {
    border-top: 2px solid #FC8694;
    border-width: 10%;
    padding-top: 16px;
}



.resultBox,
.resultBox2,
.resultBox3 {
    margin-top: 5vh;
    padding: 70px 0 70px 0;
    border: 3px solid #FC8694;
}

.resultBoxtop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 120px;
    font-size: x-large;
}
.resultResultType {
    font-size: xx-large;
}

.resultFlag {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex: 0.7fr 1fr;
}

.resultTi,
.resultType,
.resultCountry,
.resultUserflag,
.resultPercent {
    color: #FC8694;
}

.resultInfo1 {
    padding: 40px 5px 10px 5px;
    font-size: larger;
    border-bottom: 2px solid #FC8694;
}
.resultInfo2 {
    padding: 20px 5px 10px 5px;
    font-size: larger;
    border-bottom: 2px solid #FC8694;
}



