.resultTitle1,
.resultTitle3,
.resultInfoBox,
.resultInfoBox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultTitle1,
.resultTitle3 {
    margin-top: 20vh;
    font-size: x-large;
}
.resultTitle2,
.resultTitle4 {
    border-top: 2px solid #FC8694;
    border-width: 10%;
    padding-top: 16px;
}
.resultInfoBox3 {
    width: 800px;
    padding: 20px 300px 20px 100px;
    border: 1px solid none;
    box-shadow: 2px 2px 2px 2px #FC8694;
    background-color: #fff3f4;
}



.resultBox,
.resultBox2,
.resultBox3 {
    margin-top: 5vh;
    padding: 70px 0 70px 0;
    border: 3px solid #FC8694;
}
.resultBox2 {
    padding-top: 200px;
}

.resultBoxtop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 120px;
    font-size: x-large;
}
.resultResultType {
    font-size: xx-large;
}

.resultFlag {
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex: 0.7fr 1fr;
}

.resultTi,
.resultType,
.resultCountry,
.resultUserflag,
.resultPercent,
.resultPercent2,
.resultPercent3 {
    color: #FC8694;
}

.resultInfo1,
.resultInfo3 {
    padding: 40px 5px 10px 5px;
    font-size: larger;
    border-bottom: 2px solid #FC8694;
}
.resultInfo2,
.resultInfo4 {
    padding: 20px 5px 10px 5px;
    font-size: larger;
    border-bottom: 2px solid #FC8694;
}



.resultInfoBox4 {
    display: flex;
    align-items: center;
    flex: 0.5fr 1fr;
}
.resultSimilarNation {
    font-size: xx-large;
}