<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JINJA Practice</title>
</head>

<body>
    <h2>과일 작성하기</h2>
    <form action="/" method="POST">
        <p>
            <input name='fruit'>
        </p>
        <button type="submit">제출</button>
    </form>
    <hr>
    
    <h5>한 번에 출력하기</h5>
    <p>
        {{fruit_list}}
    </p>
    <hr>

    <h5>한 개씩 출력하기</h5>
    {% for fruit in fruit_list %}
        <p>{{fruit }}</p>
    {% endfor %}
</body>

</html>